<%- include('../header.ejs') -%>
<div>
  <p already_set="" id ="user_local"><%=user%></p>
  <p already_set="" id ="role_local"><%=role%></p>

  <br>
  <form method="POST" action="/rooms/create">
    <label for="place">Address:</label><br>
    <input id = "place" name = "place" type = "text" required><br><br>
    <label for="num_beds">Number of beds in the room:</label><br>
    <input id = "num_beds" name = "num_beds" type = "number" required><br><br>
    <label for="monthly_fee">Monthly fee:</label><br>
    <input id = "monthly_fee" name = "monthly_fee" type = "number" required><br><br>
    <label for="place">Expenses included:</label>
    <input id = "expenses" name = "expenses" type = "checkbox"><br><br>
    <input type="hidden" id="renter" name="renter"><br>
    <button type="submit">create room</button>
  </form>
  <!-- <button onclick="create_room()">create room</button> -->

  <button onclick="print_globals()">print globals</button>
</div>

<script>

  function checking(){
    alert(document.getElementById("renter").value)
  }
  function loadFile(){
    let reader = new FileReader();
    reader.readAsDataURL(document.getElementById("photo").files[0]);
    alert("bu")
    alert(document.getElementById("photo").files[0])
    // var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
  }
  function elaborate_photo(){
    alert(document.getElementById("photo").value)
  }

  function upload(){

    alert(document.getElementById("photo").value)
    document.getElementById("blah").src = document.getElementById("photo").value
  }

  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#blah').attr('src', e.target.result).width(150).height(200);
    };

    reader.readAsDataURL(input.files[0]);
  }

}

function print_globals(){
  alert(document.getElementById("user_local").innerText);
  alert(document.getElementById("role_local").innerText);
  alert(document.getElementById("renter").value)
}

// function create_room(){
//   alert("lulu")
//   fetch("http://localhost:8080/rooms/create", {
//     method: "POST",
//     mode: "cors",
//     cache: "no-cache",
//     credentials: "same-origin",
//     headers: {
//     "Content-Type": "application/json",
//     // 'Content-Type': 'application/x-www-form-urlencoded',
//     },
//     renter: JSON.stringify(document.getElementById("user_local").innerText),
//     place: JSON.stringify(document.getElementById("place").innerText),
//     num_beds: JSON.stringify(document.getElementById("beds").innerText),
//     monthly_fee: JSON.stringify(document.getElementById("monthly_fee").innerText),
//     expenses: JSON.stringify(document.getElementById("expenses").innerText),
//   })
//   .then(res=>{
//     alert("nakdjdjsadsdmsdsdsiamdsjdmsakjdsajd")
//     alert(res)
//   })
// }
</script>
<script>

  function onloaded2(){
    // document.getElementById("user_global").textContent = document.getElementById("user_local").value;
    // document.getElementById("role_global").textContent = document.getElementById("role_local").value;
    var user_set = document.getElementById("user_local").getAttribute("already_set");
    var role_set = document.getElementById("role_local").getAttribute("already_set");
    var u_set=false;
    var r_set=true;
    if(user_set == "true") u_set=true;
    if(role_set == "true") r_set=true;
    alert(document.getElementById("user_local").innerText)
    
    if(!u_set){
      alert("setting user")
      document.getElementById("user_local").setAttribute("already_set","true");
      localStorage.setItem("user_global", document.getElementById("user_local").innerText);
    }
    if(!r_set){
      alert("seting_role")
      document.getElementById("role_local").setAttribute("already_set","true");
      localStorage.setItem("role_global", document.getElementById("role_local").innerText);
    }
    
    document.getElementById("renter").value=document.getElementById("user_local").innerText;
    // document.getElementById("renter").value=document.getElementById("user_local").innerText;
    // alert("setting")
    // set_globals(document.getElementById("user_local").value,document.getElementById("role_local").value)
  }

  window.addEventListener("DOMContentLoaded",onloaded2())
  
</script>


