<%- include('./header.ejs') -%>
<div>

    <br>



    <form method = "GET" action = "/user/login">
        <label for="usr_addr">Insert your address</label>
        <br>
        <input id ="usr_addr", name = "usr_addr", type="text" required>
        <br>
        <label for="pr_key">Insert your private key</label>
        <br>
        <input id ="pr_key", name = "pr_key", type="password" required>
        <br>
        <button type = "submit">login</button>
    </form>

    <br><br><br>
    
    <form method = "get" action = "/user/create">
        <button type = "submit">create user</button>
    </form>

    <br>
</div>


<script>
    function check_login(){
        alert("checking login")
        var addr = document.getElementById("usr_addr").value;
        alert(addr)

        fetch ("http://localhost:3000/user/login?usr="+addr,
        {
            method:"GET",
            mode: "cors",
            cache: "no-cache",
        })
        .then((data)=>{
            alert(".text:",data.text())
            alert(".json:",data.json())
            alert("response prima:",data.text())
            return data.json()
            
        })
        .then(data=>{
            alert("response:",data)
            if(data == "0") return false;
            else return true;

        })
        .catch(err=>{
            alert("err:",err)
        })
        return false;
    }
</script>