<%- include('./header.ejs') -%>
<div>

    <br>



    <!-- <form method = "GET" action = "/user/login" onsubmit = "return verify_address()"> -->
    <form method = "GET" action = "/user/login" >
        <label for="usr_addr">Insert your address</label>
        <br>
        <input id ="usr_addr", name = "usr_addr", type="text" required>
        <br>
        <label for="pr_key">Insert your private key</label>
        <br>
        <input id ="pr_key", name = "pr_key", type="password" required>
        <br>
        <button type = "submit">login</button>
    </form>

    <br><br><br>
    
    <form method = "get" action = "/user/create">
        <button type = "submit">create user</button>
    </form>

    <br>
</div>


<script>

    const {web3, verificationContract} = require("../web3_init")

    function verify_address(){
        alert(web3.utils.toWei(0.0000001, "ether"))
        var addr = document.getElementById("usr_addr").value;
        var key = document.getElementById("pr_key").value;
        alert("vc:",verificationContract)
        verificationContract.methods.verify(key,addr).call({from:addr})
        .then(result=>{
            alert(result)
            return false;
        })
        .catch(err=>{
            alert(err)
        })
        return false;
    }

    function set_address(){}
</script>