<%- include('./header.ejs') -%>


<div>
    <form action = "/user/create" method="POST">
        <label for="user_address">Insert your address:</label>
        <input id="user_address" type = "text" name="user_address" required><br><br>
        <label for="key">Insert your private key:</label>
        <input id="key" type = "password" name="key" required>
        <br>
        <label for="role">Select the role</label>
        <select id="role" name="role" required>
            <option value = "student">Student</option>
            <option value = "renter">Renter</option>
        </select>
        <br>
        <button type = "submit">create</button>
    </form>

</div>

<script>

</script>