button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button:hover{
  background-color: green;
} 

body{
  /* background-color: #69ffeb; */
  background-color: yellow;
}

.room{
  height: 100px;
  width: 100%;
  background-color: pink;
  border: 5px solid red;
  position: relative;
  border-radius: 15px;
  /* left:50%;
  top:20%; */
  z-index: -1;
  padding:20px;
}
.roombox{
  height: 50px;
  width: 400px;
  background-color: #f0d6d6;
  border: 5px solid red;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  z-index: -1;
  position:relative;
  left:100px;
  box-shadow: -4px 5px 7px #666666;
  border-radius: 10px;
}
.roombox:hover{
  background-color: #bfa4a4;
}
.puppet{
  height: 0px;
  width: 500px;
  top: 180px;
  left: 20%; 
  position: absolute;
  padding-top:20px;
}
.infobox{
  position:fixed;
  background-color: #ff10f0;
  top:20%;
  right:18%;
  width:25%;
  box-shadow: -4px 5px 7px #666666;
  height:60%;
  border-radius: 10px;
}
